@model Tuple<EmpleadoModel, List<SelectListItem>>

@{
    ViewData["Title"] = "Gestion Empleados";
}
<!-- IMPORTACIONES DE LIBRERIAS -->
<link rel="stylesheet" href="~/css/Modal.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.Item1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


<div class="modal fade" id="popUpAgregar" tabindex="-1" role="dialog" aria-labelledby="popUpAgregarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Empleado</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("GuardarEmpleado", "Empleados", FormMethod.Post))
            {
                <div class="modal-body">

                    @Html.TextBoxFor(m => m.Item1.cedula, new {Class="form-control", placeholder="Cedula: ", type="number"})
                    @Html.ValidationMessageFor(m => m.Item1.cedula ,null, new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(m => m.Item1.nombre_completo, new {Class="form-control", placeholder="Nombre(s): "})
                    @Html.ValidationMessageFor(m => m.Item1.nombre_completo ,null, new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(m => m.Item1.apellido_completo, new {Class="form-control", placeholder="Apellido(s): "})
                    @Html.ValidationMessageFor(m => m.Item1.apellido_completo ,null, new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(m => m.Item1.username, new {Class="form-control", placeholder="Usuario: "})
                    @Html.ValidationMessageFor(m => m.Item1.username ,null, new { @class = "text-danger" })
                    <br />
                    @Html.TextBoxFor(m => m.Item1.password, new {Class="form-control", placeholder="Contraseña: "})
                    @Html.ValidationMessageFor(m => m.Item1.password ,null, new { @class = "text-danger" })
                    <br />

                    @Html.DropDownListFor(m => m.Item1.rol, new List<SelectListItem>{
                        new SelectListItem{Value = "", Text = "Rol"},
                        new SelectListItem{Value = "Doctor", Text = "Doctor"},
                        new SelectListItem{Value = "Empleado", Text = "Empleado"}
                        }, new {Class="form-select",Style = "color:#666", id="rol"} )
                    @Html.ValidationMessageFor(m => m.Item1.rol,null, new { @class = "text-danger" })
                    <br />

                    @Html.DropDownListFor(m => m.Item1.id_departamento, Model.Item2,"Departamento",new {@Class = "form-select"})
                    @Html.ValidationMessageFor(m => m.Item1.id_departamento, null, new {@Class = "text-danger"})

                </div>
                <div class="modal-footer">
                    <button type="button" class="botonCancelar" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="botonCrear">Crear</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.querySelector('#rol').onchange = function () {
        this.style.color = #212529;
    }

 </script>

                