@model Tuple<List<SantaInesWEB.Models.EmpleadoModel>,List<SantaInesWEB.Models.DepartamentoModel>>

@{
    ViewData["Title"] = "Gestion Departamento";
}

<head>
    <link rel="stylesheet" href="~/css/EmpleadoYDepartamento.css" />
    <link rel="stylesheet" href="~/css/Toaster.css" />
    <link rel="stylesheet" href="~/css/Modal.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">    

</head>



@*<!--Alerta de mensajes de error-->
@if (Context.Request.Query["message2"].Count() > 0)
{
    <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message2"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}*@

<!-- Placeholders de las ventanas emergentes -->
<div id="PlaceHolderAgregarDepartamento"></div>
<div id="PlaceHolderEliminarDepartamento"></div>
<div id="PlaceHolderModificarDepartamento"></div>

<!-- Placeholders de las ventanas emergentes -->
<div id="PlaceHolderAgregarEmpleado"></div>
<div id="PlaceHolderEliminarEmpleado"></div>
<div id="PlaceHolderModificarEmpleado"></div>



<div class="top-bar" >
    <div class="titulo-top">
        <h2>Gestión de Empleados y Departamentos</h2>
    </div>
</div>

<!--Alerta de mensajes exitosos ARREGLAR-->
@if (Context.Request.Query["message"].Count() > 0)
{
     @*<div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>*@

    <div class="toast">
        <div class="toast-content">
            <i class="uil uil-check toast-check"></i>
            <div class="message">
                <span class="message-text text-1">Success</span>
                <span class="message-text text-2">Your changes has been saved</span>
            </div>
        </div>
        <i class="uil uil-multiply toast-close"></i>
        <div class="progress"></div>
    </div>

}

 <div class="contenedor">

     <div class="Empleados">

        <div class="top-table">

            <div class="titulo-empleado">
                <h1>Empleados</h1>
            </div>

            <div class="agregar">
                <button id=btnAgregar class="boton" type="button" data-toggle="agregarEmpleado-modal" data-target="#popUpAgregar" data-url="@Url.Action("AgregarEmpleado")">
                    Crear Empleado
                    <i class='bx bx-plus'></i>
                </button>
            </div>

        </div>
     

        <div class="table-responsive">

            <table class="display" id="table-empleado">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td class="id">
                            @Html.DisplayFor(i => item.cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.nombre_completo)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.apellido_completo)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.rol)
                        </td>
                        <td>
                            <div class="dropdown">

                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-dots-vertical-rounded'></i></button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                    <button id="btnEditar" type="button" class="dropdown-item" data-toggle="editarEmpleado-modal" data-target="#popUpEditar" data-url="@Url.Action("EditarEmpleado","Empleados",new { username = "Usuario" })">Editar</button>
                                    <button id="btnEliminar" type="button" class="dropdown-item" data-toggle="eliminarEmpleado-modal" data-target="#popUpEliminar" data-url="@Url.Action("EliminarEmpleado","Empleados",new { username = "Usuario" })">Eliminar</button>
                       
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </table>
         </div>

        
     </div>

    <div class="departamentos">

          <div class="top-table">

            <div class="titulo-departamento">
                <h1>Departamentos</h1>
            </div>

            <div class="agregar">
                <button id=btnAgregar class="boton" type="button" data-toggle="agregarDepartamento-modal" data-target="#popUpAgregar" data-url="@Url.Action("AgregarDepartamento","Departamentos")">
                    Crear Departamento
                    <i class='bx bx-plus'></i>
                </button>
            </div>

        </div>

        <div class="table-responsive">

            <table class="display" id="table-departamento">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th></th>
                    
                </tr>
            </thead>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td class="id">
                        @Html.DisplayFor(i => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.descripcion)
                    </td>
                    <td>
                        <div class="dropdown">

                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-dots-vertical-rounded'></i></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                <button id="btnEditar" type="button" class="dropdown-item" data-toggle="editarDepartamento-modal" data-target="#popUpEditar" data-url="@Url.Action("EditarDepartamento","Departamentos",new { id = "idDepartamento" })">Editar</button>
                                <button id="btnEliminar" type="button" class="dropdown-item" data-toggle="eliminarDepartamento-modal" data-target="#popUpEliminar" data-url="@Url.Action("EliminarDepartamento","Departamentos",new { id = "idDepartamento" })">Eliminar</button>
                            </ul>
                        </div>
                </td>
                </tr>
            }
        </table>
        </div>
        <div id="navDept"></div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.1/features/pageResize/dataTables.pageResize.min.js" defer></script>-0
    <script src="~/js/Empleado.js"></script>
    <script src="~/js/Departamento.js"></script>
    <script src="~/js/Toaster.js"></script>

    <script>  
    $(document).ready(function () {
        $('#table-departamento').dataTable({
            "pagingType": "numbers",
            "searching": false,
            "responsive": true,
            "pageResize":true,
            "lengthChange": false,
            "columnDefs": [
                {
                    "target": 0,
                    "visible": false,
                    "searchable": false,
                }, {
                    "target": 3,
                    "orderable": false,
                }
            ],
            "stripeClasses": []

        });
    });

       $(document).ready(function () {
        $('#table-empleado').dataTable({
            "pagingType": "numbers",
            "searching": false,
            "responsive": true,
            "resizePage":true,
            "lengthChange": false,
            "order": [],
            "columnDefs": [
                {
                    "target": 0,
                    "visible": false,
                    "searchable": false,
                     
                    
                    
                },{
                        "target": 6,
                        "orderable": false,
                }
            ],
            "stripeClasses": []

        });
    });


    </script>



}
