@model List<SantaInesWEB.Models.DepartamentoModel>

@{
    ViewData["Title"] = "Gestion Departamento";
}

<head>
    <link rel="stylesheet" href="~/css/Design.css" /> 
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../jquery.simplePagination.js"></script>
</head>
@section scripts{
    <script>
    $(document).ready(function(){
    var rowsShown = 8;
    var rowsTotal = $('#table tbody tr').length;
    var numPages = rowsTotal/rowsShown;
    for(i = 0;i < numPages;i++) {
        var pageNum = i + 1;
        $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
    }
            $('#table tbody tr').hide();
            $('#table tbody tr').slice(0, rowsShown).show();
            $('#table a:first').addClass('active');
            $('#nav a').bind('click', function(){

        $('#nav a').removeClass('active');
        $(this).addClass('active');
        var currPage = $(this).attr('rel');
        var startItem = currPage * rowsShown;
        var endItem = startItem + rowsShown;
        $('#table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
        css('display','table-row').animate({opacity:1}, 300);
    });
});

    </script>

  
    
}



@*<!--Alerta de mensajes exitosos-->
@if (Context.Request.Query["message"].Count() > 0)
{
    <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!--Alerta de mensajes de error-->
@if (Context.Request.Query["message2"].Count() > 0)
{
    <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message2"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}*@

@*<!-- Placeholders de las ventanas emergentes -->
<div id="PlaceHolderAgregarDepartamento"></div>
<div id="PlaceHolderEliminarDepartamento"></div>
<div id="PlaceHolderModificarDepartamento"></div>*@
<div class="top-bar" >
    <div class="titulo-top">
        <h2>Gestión de Empleados</h2>
    </div>
</div>


 <div class="contenedor">

        
    
          <!-- Tabla Departamentos -->
        <table class="table" id="table">
            <thead>            
                <tr>
                    
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td class="id" style="display:none";>
                        @Html.DisplayFor(i => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.descripcion)
                    </td>
                    @*<td>
                        <div class="dropdown">

                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        
                                <button id="btnEditar" type="button" class="dropdown-item" data-toggle="editarDepartamento-modal" data-target="#popUpEditar" data-url="@Url.Action("VentanaEditarDepartamento","Departamento",new { id = "idDepartamento" })">Editar</button>
                                <button id="btnEliminar" type="button" class="dropdown-item" data-toggle="eliminarDepartamento-modal" data-target="#popUpEliminar" data-url="@Url.Action("VentanaEliminarDepartamento","Departamento",new { id = "idDepartamento" })">Eliminar</button>
                                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaEstadosDepartamentos", "DepartamentoEstado",new{ id =@item.id, nombre = @item.nombre} )'">Ver Estados</button>
                                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaCargosDepartamentos", "DepartamentoCargo",new{ id =@item.id, nombre = @item.nombre} )'">Ver Cargos</button>
        
                            </ul>
                        </div>                
                    </td>*@
                </tr>
            }
        </table>
    


</div>
<div id="nav"></div>


