@model Tuple<List<SantaInesWEB.Models.EmpleadoModel>,List<SantaInesWEB.Models.DepartamentoModel>>

@{
    ViewData["Title"] = "Gestion Departamento";
}

<head>
    <link rel="stylesheet" href="~/css/EmpleadoYDepartamento.css" /> 
    <link rel="stylesheet" href="~/css/Modal.css" /> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
</head>

<!--Alerta de mensajes exitosos-->
@if (Context.Request.Query["message"].Count() > 0)
{
    <div class="alert alert-success text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@*<!--Alerta de mensajes de error-->
@if (Context.Request.Query["message2"].Count() > 0)
{
    <div class="alert alert-danger text-center alert-dismissible fade show p-3" role="alert">
        <p class="fs-6 m-0">@Context.Request.Query["message2"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}*@

<!-- Placeholders de las ventanas emergentes -->
<div id="PlaceHolderAgregarDepartamento"></div>
<div id="PlaceHolderEliminarDepartamento"></div>
<div id="PlaceHolderModificarDepartamento"></div>

<!-- Placeholders de las ventanas emergentes -->
<div id="PlaceHolderAgregarEmpleado"></div>
<div id="PlaceHolderEliminarEmpleado"></div>
<div id="PlaceHolderModificarEmpleado"></div>



<div class="top-bar" >
    <div class="titulo-top">
        <h2>Gestión de Empleados</h2>
    </div>
</div>

 <div class="contenedor">

     <div class="Empleados">

        <div class="top-table">

            <div class="titulo-empleado">
                <h1>Empleados</h1>
            </div>

            <div class="agregar">
                <button id=btnAgregar class="boton" type="button" data-toggle="agregarEmpleado-modal" data-target="#popUpAgregar" data-url="@Url.Action("AgregarEmpleado")">
                    Crear Empleado
                    <i class='bx bx-plus'></i>
                </button>
            </div>

        </div>
     

        <div class="table-responsive">

            <table class="display" id="table-empleado">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td class="id">
                            @Html.DisplayFor(i => item.cedula)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.nombre_completo)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.apellido_completo)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.rol)
                        </td>
                        <td>
                            <div class="dropdown">

                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class='bx bx-dots-vertical-rounded'></i></button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                             @*   <button id="btnEditar" type="button" class="dropdown-item" data-toggle="editarDepartamento-modal" data-target="#popUpEditar" data-url="@Url.Action("VentanaEditarDepartamento","Departamento",new { id = "idDepartamento" })">Editar</button>
                                <button id="btnEliminar" type="button" class="dropdown-item" data-toggle="eliminarDepartamento-modal" data-target="#popUpEliminar" data-url="@Url.Action("VentanaEliminarDepartamento","Departamento",new { id = "idDepartamento" })">Eliminar</button>
                                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaEstadosDepartamentos", "DepartamentoEstado",new{ id =@item.id, nombre = @item.nombre} )'">Ver Estados</button>
                                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaCargosDepartamentos", "DepartamentoCargo",new{ id =@item.id, nombre = @item.nombre} )'">Ver Cargos</button>*@

                                </ul>
                            </div>
                    </td>
                    </tr>
                }
            </table>
         </div>

        
     </div>

    <div class="departamentos">

          <div class="top-table">

            <div class="titulo-departamento">
                <h1>Departamentos</h1>
            </div>

            <div class="agregar">
                <button id=btnAgregar class="boton" type="button" data-toggle="agregarDepartamento-modal" data-target="#popUpAgregar" data-url="@Url.Action("AgregarDepartamento","Departamentos")">
                    Crear Departamento
                    <i class='bx bx-plus'></i>
                </button>
            </div>

        </div>

        <div class="table-responsive">

            <table class="display" id="table-departamento">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    
                </tr>
            </thead>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.descripcion)
                    </td>
                    @*<td>
                <div class="dropdown">

                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                <button id="btnEditar" type="button" class="dropdown-item" data-toggle="editarDepartamento-modal" data-target="#popUpEditar" data-url="@Url.Action("VentanaEditarDepartamento","Departamento",new { id = "idDepartamento" })">Editar</button>
                <button id="btnEliminar" type="button" class="dropdown-item" data-toggle="eliminarDepartamento-modal" data-target="#popUpEliminar" data-url="@Url.Action("VentanaEliminarDepartamento","Departamento",new { id = "idDepartamento" })">Eliminar</button>
                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaEstadosDepartamentos", "DepartamentoEstado",new{ id =@item.id, nombre = @item.nombre} )'">Ver Estados</button>
                <button type="button" class="dropdown-item" onclick="location.href='@Url.Action("VistaCargosDepartamentos", "DepartamentoCargo",new{ id =@item.id, nombre = @item.nombre} )'">Ver Cargos</button>

                </ul>
                </div>
                </td>*@
                </tr>
            }
        </table>
        </div>
        <div id="navDept"></div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.1/features/pageResize/dataTables.pageResize.min.js"></script>
    <script src="~/js/Empleado.js"></script>
    <script src="~/js/Departamento.js"></script>
    <@*script type="text/javascript" src="jquery.dataTables.js"></script>*@
          @*<script type="text/javascript" src="dataTables.scrollingPagination.js"></script>*@

    <script>
    //$(document).ready(function () {
    //    var rowsShown = 16;
    //    if (window.matchMedia('(max-device-width: 1200px)').matches) {
    //        rowsShown = 8;
    //    }
    //    var rowsTotal = $('#table-empleado tbody tr').length;
    //    var numPages = rowsTotal / rowsShown;
    //    for (i = 0; i < numPages; i++) {
    //        var pageNum = i + 1;
    //        $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
    //    }
    //    $('#table-empleado tbody tr').hide();
    //    $('#table-empleado tbody tr').slice(0, rowsShown).show();
    //    $('#table-empleado a:first').addClass('active');
    //    $('#nav a').bind('click', function () {

    //        $('#nav a').removeClass('active');
    //        $(this).addClass('active');
    //        var currPage = $(this).attr('rel');
    //        var startItem = currPage * rowsShown;
    //        var endItem = startItem + rowsShown;
    //        $('#table-empleado tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
    //            css('display', 'table-row').animate({ opacity: 1 }, 300);
    //    });
    //});



    $(document).ready(function () {
        $('#table-departamento').dataTable({
            "pagingType": "numbers",
            "searching": false,
            "responsive": true,
            "pageResize":true,
            "lengthChange": false,
            "columnDefs": [
                {
                    "target": 0,
                    "visible": false,
                    "searchable": false,
                }
            ],
            "stripeClasses": []

        });
    });

       $(document).ready(function () {
        $('#table-empleado').dataTable({
            "pagingType": "numbers",
            "searching": false,
            "responsive": true,
            "resizePage":true,
            "lengthChange": false,
            "order": [],
            "columnDefs": [
                {
                    "target": 0,
                    "visible": false,
                    "searchable": false,
                     
                    
                    
                },{
                        "target": 6,
                        "orderable": false,
                }
            ],
            "stripeClasses": []

        });
    });


    </script>



}
