@model List<SantaInesWEB.Models.UsuarioModel>
@{
        ViewData["Title"] = "Gestion Usuarios";
}

<head>
    <link rel="stylesheet" href="~/css/EmpleadoYDepartamento.css" />
    <link rel="stylesheet" href="~/css/Usuarios.css" />
    <link rel="stylesheet" href="~/css/Toaster.css" />
    <link rel="stylesheet" href="~/css/Modal.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>

<div class="top-bar">
    <div class="titulo-top">
        <h2>Gestión de Usuarios</h2>
    </div>
</div>

<div class="contenedor-tabla">
    <div class="table-responsive">
        <table class="display" id="table-usuarios">
            <thead>
                <tr>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Contraseña
                    </th>
                    <th>
                        Cedula
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>

                    <th>
                        Sexo
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Guid Direccion
                    </th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.nombre_Completo)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.apellido_Completo)
                    </td>

                    <td>
                        @Html.DisplayFor(i => item.sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.id_direccion)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js" defer></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.1/features/pageResize/dataTables.pageResize.min.js" defer></script>

    <script>
    $(document).ready(function () {
        $('#table-usuarios').dataTable({
            "pagingType": "numbers",
            "searching": false,
            "responsive": true,
            "pageResize": true,
            "lengthChange": false,
            "columnDefs": [
                {
                    "target": 8,
                    "visible": false,
                    "searchable": false,
                }, {
                    "target": 3,
                    "orderable": false,
                }
            ],
            "stripeClasses": []

        });
    });

    </script>

}

