<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="UTF-8">
    
    <title>@ViewData["Title"] - SantaInesWEB</title>
    <link rel="stylesheet" href="~/css/style.css">
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/SantaInesWEB.styles.css" asp-append-version="true" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">

    <div class="logo-details">
        <div class="logo-inner-details">
            <img class="foto" src="~/img/cssi-rounded.jpg" />
            <div class="logo_name">Santa Inés</div>
        </div>   
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">

        @if (Context.Session.GetString("rol").ToUpper() == "GERENCIA" || Context.Session.GetString("rol").ToUpper() == "PRESIDENCIA")
        {
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
              </a>
               <span class="tooltip">Dashboard</span>
            </li>

            <li>
                <a asp-controller="Itinerarios" asp-action="GestionItinerarios">
                    <i class='bx bx-calendar-edit'></i>
                    <span class="links_name">Itinerarios</span>
                </a>
                <span class="tooltip">Itinerarios</span>
            </li>

            <li>
                <a asp-controller="Empleados" asp-action="GestionEmpleados">
                    <i class='bx bx-buildings'></i>
                    <span class="links_name">Empleados y <br />Departamentos</span>
                </a>
                <span class="tooltip">Empleados y Departamentos</span>
            </li>
        }

        @if (Context.Session.GetString("rol").ToUpper() == "GERENCIA" || Context.Session.GetString("rol").ToUpper() == "PRESIDENCIA" || Context.Session.GetString("rol").ToUpper() == "DOCTOR"){
            <li>
                <a asp-controller="Usuarios" asp-action="GestionUsuarios">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">@(Context.Session.GetString("rol").ToUpper() == "DOCTOR" ? "Pacientes" : "Usuarios")</span>
                </a>
                    <span class="tooltip">@(Context.Session.GetString("rol").ToUpper() == "DOCTOR" ? "Pacientes" : "Usuarios")</span>
            </li>
        }

        @if (Context.Session.GetString("rol").ToUpper() == "PACIENTE")
        {
                <li>
                    <a asp-controller="Citas" asp-action="GestionCitas">
                        <i class='bx bx-calendar' ></i>
                        <span class="links_name">Citas</span>
                    </a>
                     <span class="tooltip">Citas</span>
                </li>

                <li>
                    <a asp-controller="Configuracion" asp-action="Configuracion" asp-route-username="@Context.Session.GetString("username")">
                        <i class='bx bx-cog'></i>
                        <span class="links_name">Perfil</span>
                    </a>
                    <span class="tooltip">Perfil</span>
                </li>
        }

        @if (Context.Session.GetString("rol").ToUpper() != "PACIENTE")
        {
            <li>
                <a asp-controller="Citas" asp-action="GestionCitasDoctor">
                    <i class='bx bx-book-add'></i>
                   <span class="links_name">Citas pendientes</span>
                </a>
                <span class="tooltip">Citas pendientes</span>
            </li>
        }

         <li class="profile">
             <a asp-controller ="Login" asp-action="Login" class="log-out">
                 <div class="profile-details">           
                    <div class="name_job">
                            <div class="name">@Context.Session.GetString("nombre_completo").Split(' ').First()  @Context.Session.GetString("apellido_completo")[0].</div>
                        <div class="job">@Context.Session.GetString("rol")</div>
                    </div>
                 </div>
                 <i class='bx bx-log-out' id="log_out" ></i>
             </a>
         </li>
    </ul>

  </div>
  <section class="home-section">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
  </section>

    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

