@model Tuple<SantaInesWEB.Models.UsuarioModel,SantaInesWEB.Models.DireccionModel>

<head>
    <link rel="stylesheet" href="~/css/Configuracion.css"/>
    <link rel="stylesheet" href="~/css/Modal.css" /> 
</head>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script>
        $(function () {
            $("#telefono").mask("(999) 999-9999");
            $("#cedula").mask("99999999");
            $("#postal").mask("9999");
        })

    </script>
}

<div class="top-bar">
    <div class="titulo-top">
        <h2>Configuración del perfil</h2>
    </div>
</div>

<div class="contenedor">

    @using (Html.BeginForm("ModificarUsuario", "Configuracion", FormMethod.Post))
    {
        <div class="modal-body">

            @*Usuario*@

            @Html.TextBoxFor(m => m.Item1.cedula, new { @Value = Model.Item1.cedula, @type="hidden", id="cedula"})
            @Html.TextBoxFor(m => m.Item1.sexo, new { @Value = Model.Item1.sexo, @type="hidden"})
            @Html.TextBoxFor(m => m.Item1.username, new { @Value = Model.Item1.username, @type="hidden"})
            @Html.TextBoxFor(m => m.Item1.id_direccion, new { @Value = Model.Item1.id_direccion, @type="hidden"})
            @Html.TextBoxFor(m => m.Item1.fecha_Nacimiento, new { @Value = Model.Item1.fecha_Nacimiento, @type="hidden"})
            @Html.TextBoxFor(m => m.Item1.password, new { @Value = Model.Item1.password, @type="hidden"})
            @Html.TextBoxFor(m => m.Item1.idHistoria, new { @Value = Model.Item1.idHistoria, @type="hidden"})
       

            <div class="flex">
                <div class="in-flex" >
                    <span style="margin-top:15px" class="span">Nombre completo: </span>
                    @Html.TextBoxFor(m => m.Item1.nombre_Completo, new {@Value = Model.Item1.nombre_Completo,Class="form-control", placeholder="Nombre(s): "})
                </div>
                <div class="in-flex">
                    <span style="margin-top:15px" class="span">Apellido completo: </span>
                    @Html.TextBoxFor(m => m.Item1.apellido_Completo, new {@Value = Model.Item1.apellido_Completo,Class="form-control", placeholder="Apellido(s): "})
                </div>
            </div>            
           
            <div class="flex">
                <div class="in-flex">
                    <span style="margin-top:15px" class="span">Teléfono: </span>
                    @Html.TextBoxFor(m => m.Item1.telefono, new {@Value = Model.Item1.telefono,Class="form-control", placeholder="Teléfono: ", id = "telefono"})
                </div>
                <div class="in-flex">
                    <span style="margin-top:15px" class="span">Correo electrónico: </span>
                    @Html.TextBoxFor(m => m.Item1.email, new {@Value = Model.Item1.email, Class="form-control", placeholder="Correo Electrónico: "})
                </div>

            </div>
            @*Direccion*@

            @Html.TextBoxFor(m => m.Item2.id, new { @Value = Model.Item2.id, @type="hidden"})

            <div class="flex">
                <div class="in-flex">
                    <div class="double-flex">
                        <div class="in-flex">
                            <span style="margin-top:15px" class="span">Municipio: </span>
                            @Html.TextBoxFor(m => m.Item2.municipio, new {@Value = Model.Item2.municipio,Class="form-control", placeholder="Municipio: "})
                        </div>
                        <div class="in-flex">
                            <span style="margin-top:15px" class="span">Código postal: </span>
                            @Html.TextBoxFor(m => m.Item2.codPostal, new{@Value = Model.Item2.codPostal,Class="form-control", placeholder = "Código postal", id="postal" })
                        </div>
                    </div>                                    
                </div>
                <div class="in-flex">
                    <span style="margin-top:15px" class="span">Dirección: </span>
                    @Html.TextAreaFor(m => m.Item2.direccion, new {@Value = Model.Item2.direccion,Class="form-control", placeholder="Dirección: "})
                </div>

            </div>


        </div>
        <div class="modal-footer">
            <button type="submit" class="botonCancelar" formaction="@Url.Action("GestionCitas", "Citas")">Cancelar</button>
            <button type="submit" class="botonCrear">Guardar Cambios</button>
        </div>
    }

</div>